
// ##################################################################### //
// ############################ Main banner ############################ //
// ##################################################################### //
.main-banner-section {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto 70px;
}

.main-banner {
    background: url("/img/banner-top.png") no-repeat center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.main-banner-content {
    width: 759px;
    background-color: #dededeb0;
    border-radius: 25px;
    position: absolute;
    right: -50px;
    padding: 40px 0 50px 50px;

    &__texts{
        h1 {
            font-weight: 800;
            font-size: 60px;
            color: $secondary-color;
            line-height: 1.4;
        }

        p {
            font-weight: 500;
            color: $secondary-color;
            font-size: 2rem;
            line-height: 1.4;
            margin-bottom: 45px;
        }
    }

    &__button {
        padding: 12px 37px 12px 70px;
        border-radius: 8px;
        background-color: $secondary-color;
        color: white;
        border: none;
        position: relative;
        transition: background-color 100ms;

        &::before {
            content:url("/icons/arrow-icon-top-banner.svg");
            position: absolute;
            left: 35px;
            top: 10px;
        }
        &:hover {
            background-color: (#97451F);
        }
    }
}
// ##################################################################### //
// ######################## New arrivals section ####################### //
// ##################################################################### //
.new-arrivals-section {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto 35px;
}

.news-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    h2 {
        font-weight: 600;
        font-size: 2rem;
        color: black;
    }

    .view-all {
        font-weight: 600;
        color: $secondary-color;
        padding-right: 25px;
        position: relative;

        &::after {
            content:url("/icons/chevron-view-all.svg");
            position: absolute;
            right: 2px;
        }
    }
}

.new-articles {
    display: flex;
    justify-content: space-between;
}

// ##################################################################### //
// ##################### Banner collection section ##################### //
// ##################################################################### //
.collections-section {
    background-color: $secondary-color;
    padding: 40px 20px;
    margin-bottom: 70px;

    h2 {
        color: white;
        font-weight: 600;
        font-size: 2rem;
        max-width: 1280px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

.collection-articles {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


// ##################################################################### //
// ####################### Compagny list section ####################### //
// ##################################################################### //
.company-list-section {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 70px;
        
    h2 {
        font-size: 34px;
        font-weight: 600;
        margin-bottom: 30px;
    }
}

.companies-list {
    display: flex;
    justify-content: space-between;
}


// ##################################################################### //
// ####################### Other banners section ####################### //
// ##################################################################### //
.other-banners-section {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto 70px;
}

.banner-makeup {
    background: url("/img/banner-makeup.png") no-repeat center;
    background-size: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-left: 40px;

    &:hover {
        background-size: 105%;
        transition: background-size 200ms;
    }

    .banner-makeup__texts {
        padding-top: 90px;

        p {
            font-weight: 400;
            font-size: 2rem;
            line-height: 1.9;
            color: #97451F;
        }

        h2 {
            font-weight: 700;
            font-size: 52px;
            line-height: 1.3;
            color: #97451F;
        }
    }
}