header {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
        display: flex;

    .header__logo {
        margin-right: 32px;
        width: 108px;
    }

    .header__nav {
        display: flex;
        align-items: center;
            
        ul {
            display: flex;

            li {
                margin-right: 20px;
            }
        }
    }
}
    
.header-right {
    display: flex;

    .search-bar {
        width: 362px;
        margin-right: 24px;
        border-radius: 4px;
        background-color: rgba(128, 128, 128, 0.130);
        display: flex;
        align-items: center;

        .search-bar__icon {
            padding: 10px 8px;
            cursor: pointer;
        }
    }

    .header__icons{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-icon {
            margin-right: 20px;
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 35px 60px 80px 0px;
    background: $secondary-color;
    color: #fff;

    .footer-left-part {
        width: 50%;
        display: flex;

        .footer-one-row-container {
            padding-left: 70px;

            h4 {
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 20px;
            }

            ul li {
                color: rgb(182, 182, 182);
                font-weight: 500;
                font-size: 16px;
                line-height: 2;
            }
        }
    }

    .footer-right-part {
        text-align: right;
        margin-top: 25px;

        .icons-container {
            margin-bottom: 30px;

            img {
                margin-left: 8px;
            }
        }

        .position-icon-and-text {
            display: flex;
            justify-content: flex-end;
        }

        p {
            line-height: 2;
        }
    }
}
