header {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-left-part {
        display: flex;

        .logo {
            margin-right: 35px;
            width: 108px;
        }

        nav {
            display: flex;
            align-items: center;
            
            ul {
                display: flex;
                justify-content: space-between;

                li {
                    padding-right: 25px;
                }
            }
        }
    }
    
    .header-right-part {
        display: flex;

        .search-bar-container {
            width: 400px;
            margin-right: 10px;
            border-radius: 4px;
            background-color: rgba(128, 128, 128, 0.131);
            display: flex;
            align-items: center;

            img {
                padding-left: 10px;
            }

            .search-bar {
                padding: 13px;
            }
        }

        .top-right-icon-container {
            display: flex;
            align-items: center;
        }

        img {
            padding-left: 20px;
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 35px 60px 80px 0px;
    background: $secondary-color;
    color: #fff;

    .footer-left-part {
        width: 50%;
        display: flex;

        .footer-one-row-container {
            padding-left: 70px;

            h4 {
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 20px;
            }

            ul li {
                color: rgb(182, 182, 182);
                font-weight: 500;
                font-size: 16px;
                line-height: 2;
            }
        }
    }

    .footer-right-part {
        text-align: right;
        margin-top: 25px;

        .icons-container {
            margin-bottom: 30px;

            img {
                margin-left: 8px;
            }
        }

        .position-icon-and-text {
            display: flex;
            justify-content: flex-end;
        }

        p {
            line-height: 2;
        }
    }
}
